.nav {
  padding-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.nav__list {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: none; /* Mobilde başlangıçta gizli */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: transparent; /* Menü arka plan rengi */
  color: #fff; /* Menü yazı rengi */
  z-index: 10;
}

.nav__list-item {
  margin: 0.5rem 0;
}

.nav__button {
  z-index: 11; /* Menü butonu en üstte */
}

li.nav__scroll-top {
  display: none;
}

div.nav__scroll-top {
  font-size: 1.5rem;
}

/* Mobilde menü açıldığında görünmesini sağlayan sınıf */
.nav__list--open {
  display: flex;
}

@media (min-width: 600px) {
  .nav__list {
    width: unset;
    height: unset;
    font-size: unset;
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    gap: 1.5rem;
    position: unset;
    inset: unset;
    background-color: transparent; /* Masaüstünde arka plan şeffaf */
    color: unset; /* Masaüstünde varsayılan renk */
  }

  .nav__list-item {
    margin: unset;
  }

  .nav__hamburger {
    display: none; /* Masaüstünde hamburger menü gizli */
  }

  li.nav__scroll-top {
    display: unset;
  }

  div.nav__scroll-top {
    display: none;
  }
}
